{% extends 'medecin/baseMedecin.html.twig' %}

{% block title %}Créer un planning{% endblock %}

{% block body %}
    <h1>Créer un planning</h1>

    {{ form_start(form) }}
        {{ form_row(form.dateDisponible) }}
        {{ form_row(form.tempsReserver) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
