
<form action="{{ path('app_stock_pharmacie_delete', {'id': stockPharmacie.id}) }}" method="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stockPharmacie.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
