{% extends 'admin/base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1 style="margin-left: 600px;margin-top: 300px">Hello world!</h1>
{% endblock %}
