{% extends 'base.html.twig' %}

{% block title %}Upload Video{% endblock %}

{% block body %}
    <h1>Upload Video</h1>

    {{ form_start(form) }}
    {{ form_row(form.file) }}
    <button class="btn">Upload</button>
    {{ form_end(form) }}

    <a href="{{ path('vlog_dashboard') }}">Back to Dashboard</a>
{% endblock %}