{% extends 'base.html.twig' %}

{% block title %}All Blog Posts{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">All Blog Posts</h1>

        <div class="mb-4 text-end">
            <a href="{{ path('app_blog_new') }}" class="btn btn-primary">Create New Blog</a>
        </div>

        {% for blog in blogs %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.content | slice(0, 100) }}...</p>
                    <a href="{{ path('app_blog_show', {'id': blog.id}) }}" class="btn btn-info">Read More</a>
                </div>
            </div>
        {% else %}
            <p>No blog posts available.</p>
        {% endfor %}
    </div>
{% endblock %}
