{% block body %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_landing_page') }}">page d'acceuil</a>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}Login{% endblock %}
</div>
{% endblock %}